includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - config
        - database
        - routes
    tmpDir: storage/framework/cache/phpstan
    checkModelProperties: true
    checkOctaneCompatibility: true
    reportUnmatchedIgnoredErrors: true
